<!DOCTYPE html>
<html lang="en">
<head>
  {{> meta meta }}
  <link rel="stylesheet" href="assets/styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans:300,400,700" rel="stylesheet">
</head>
<body role="main">
  <header class="header">
    {{> navigation navigation.main }}
    {{> overlay navigation.overlay }}
  </header>
  {{> hero index.hero }}
  {{> services index.services }}
  {{> details index.details }}
  {{> about index.about }}
  {{> contact footer.contact }}
  {{> footer footer.footer }}
  <script src="assets/scripts/bundle.js" charset="utf-8"></script>
</body>
</html>
