<section class="about">
  <div class="about--container">
    <h1>{{{ title }}}</h1>
    <div class="about--details">
      <p>{{{ description }}}</p>
      <img src="{{ image }}" alt="{{{ title }}}">
    </div>
  </div>
</section>
