<footer class="footer">
  <div class="footer--container">
    <small class="footer--copyright">{{{ copyright }}}</small>
    <img src="assets/images/footer-tree.png" alt="">
    <small>Built with love in Fort Greene, Brooklyn</small>
    <small class="footer--top"><a href="#">{{{ top }}}</a></small>
  </div>
</footer>
