<footer class="footer">
  <div class="footer--container">
    <small class="footer--copyright">{{{ copyright }}}</small>
    <small class="footer--top"><a href="#">{{{ top }}}</a></small>
  </div>
</footer>
