<section class="hero">
  <!-- Photo by Krystian Tambur on Unsplash -->
  <div class="hero--container">
    <div class="hero--content">
      <h1>Cat Call</h1>
      <p>Headquartered in Fort Greene, Brooklyn, Cat Call provides in-home cat sitting and specialized care for your feline friend. Dedicated to the well being of your cat and home, we’re bonded, insured and trained in pet CPR. Simple and local. Cat Call us!</p>
      <a class="hero--learn_more" href="#">Learn More</a>
    </div>
  </div>
</section>
