<section class="hero">
  <div class="hero--container">
    <div class="hero--logo">
      <img src="{{ logo }}" alt="">
      <a class="hero--learn_more" href="#">Learn More</a>
    </div>
  </div>
</section>
