<nav class="navigation">
  <div class="navigation--container">
    <h1>{{{ title }}}</h1>
    <a href="//twitter.com/CatCallBK"><img src="/assets/images/twitter.svg" alt=""></a>
    <a href="//www.facebook.com/catcallbk"><img src="/assets/images/facebook.svg" alt=""></a>
    <a href="//instagram.com/catcallbrooklyn/"><img src="/assets/images/instagram.svg" alt=""></a>
    <a href="//instagram.com/catcallbrooklyn/"><img src="/assets/images/google-plus.svg" alt=""></a>
  </div>
</nav>
