<section class="services">
  <div class="services--container">
    <h1>{{{ title }}}</h1>
    <p>{{{ description }}}</p>
    <ul>
      {{#each service}}
      <li>{{{ this }}}</li>
      {{/each}}
    </ul>
  </div>
</section>
