<section class="services">
  <div class="services--container">
    <h1>{{{ title }}}</h1>
    <!-- <p>{{{ description }}}</p> -->
    <ul>
      {{#each service}}
      <li>
        <img src="/assets/images/{{ icon }}.svg" alt="">
        {{{ title }}}
      </li>
      {{/each}}
    </ul>
  </div>
</section>
