.contact {
  padding: $padding-y $padding-x;
  background-color: $light;
  border-top: 1px solid darken($light, 10%);
  border-bottom: 1px solid darken($light, 10%);

  &--container {
    @include container($width);
    display: flex;
    @include max-screen($medium) {
      flex-direction: column;
    }
  }

  h1 { padding-bottom: $padding-x; }

  h2 {
    max-width: 60rem;

    @include max-screen($medium) {
      font-size: 2rem;
    }
  }

  &--options {
    padding-bottom: $padding-y;
    width: 65%;

    h2 { padding-bottom: $padding-y / 2; }

    a {
      @include cta;
      border: 3px solid $primary;
      font-weight: 900;
      background: $white;
      color: $black;
      &:not(:last-of-type) {
        margin-right: $padding-x;
        @include max-screen($medium) { margin-right: 0; }
      }
      &:hover { text-decoration: none; }
      @include max-screen($medium) {
        display: block;
        text-align: center;
        margin-bottom: $padding-x;
      }
    }
  }
  &--options,
  &--services {
    padding: 0 $padding-y;
    @include max-screen($medium) {
      padding: $padding-y $padding-x;
    }
  }
}
