.hero {
  height: 850px;
  background: url('../images/hero-background.jpg') no-repeat center center;
  background-size: cover;

  @include max-screen($medium) {
    @include portrait {
      height: 100vh;
    }
  }
}
