.hero {
  background: url('../images/hero-background.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $primary;

  &--container {
    @include container($width);
    height: 100vh;
    max-height: 90rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20rem 0 $padding-y;

    @include max-screen($large) {
      align-items: center;
      background: none;
      height: auto;
    }
  }

  &--content {
    display: flex;
    flex-direction: column;
    max-width: 45rem;
    align-items: flex-start;

    h1 {
      color: $primary;
      font-size: 7.2rem;
      padding-bottom: $padding-x;
    }
    p {
      font-weight: 300;
      text-align: left;
      color: $white;
      padding-bottom: $padding-y;
    }
    img { padding-bottom: $padding-y; }
  }

  &--learn_more {
    display: block;
    border-radius: 1rem;
    background: $light;
    color: $black;
    font-size: 1.6rem;
    font-weight: 900;
    text-transform: uppercase;
    width: 20rem;
    line-height: 6.5rem;
    transition: background 250ms ease-in-out, transform 100ms ease, box-shadow 100ms ease;
    border: 5px solid $primary;
    &:hover {
      background: $primary;
      text-decoration: none;
    }
    &:active {
      box-shadow: none;
      transform: translate3d(0,3px,0);
    }
  }
}
