.overlay {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  color: $white;

  &--container {
    @include container($width);
    padding: $padding-x;
    display: flex;


    ul {
      display: flex;
      margin-left: auto;
      li {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        a { padding-left: $padding-x / 3; }

        &:not(:last-of-type) {
          padding-right: $padding-x * 2;
        }
      }
    }
  }

  // &--title {
  //   margin-right: auto;
  //   @include max-screen($medium) {
  //     display: none;
  //   }
  // }

  // &--phone {
  //   margin-right: $padding-x;
  //   &::before { content: "Call "; }
  //   @include max-screen($medium) {
  //     margin-right: auto;
  //   }
  // }
  //
  // &--email {
  //   &::before {
  //     content: "Email ";
  //   }
  // }

  svg {
    fill: $primary;
    height: 2rem;
    .transparent { fill: rgba(0,0,0,0.7); }
  }
}
