.services {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: $padding-y $padding-x;
  @include max-screen($large) {
    text-align: left;
  }

  &--container {
    @include container($width);

    h1 { padding-bottom: $padding-y; }
    // p { padding-bottom: $padding-y; }
    ul {
      display: flex;
      justify-content: space-around;
      @include max-screen($medium) {
        flex-direction: column;
        align-items: center;
      }
    }
    li {
      font-weight: 900;
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      background: $light;
      border: 3px solid $black;
      border-radius: 1rem;
      width: 25rem;
      min-height: 25rem;
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include max-screen($large) {
        margin: $padding-x 0;
      }

      svg {
        fill: $black;
        height: 8rem;
        padding-bottom: $padding-x;
      }
    }
  }
}
