$small: 414px;
$medium: 660px;
$large: 992px;
$x-large: 1024px;

$white: rgb(255, 255, 255);
$light: rgb(245, 245, 245);
$black: rgb(102, 102, 102);
$primary: rgb(0, 102, 153);

$width: 940;
$padding-x: 2rem;
$padding-y: 5rem;
